* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    place-content: center;
    display: grid;
    background: url("https://images.squarespace-cdn.com/content/v1/5a2613f6be42d61192e3e478/1582999868688-PEVK3HU4FN1D9V5UDM4K/Screen+Shot+2020-02-29+at+1.07.46+PM.png?format=1000w");
}

h3 {
    text-align: center;
    /*   margin-bottom: 20px; */
    background-color: #000;
    color: #fff;
    padding: 2vw 0;
    font-size: 1.5em;
    font-family: monospace;
}
.player_turn {
    font-size: 15px;
    font-family: sans-serif;
    background-color: white;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    color: rgb(73, 73, 160);
    background-color: rgba(255, 255, 255, 0.884);
}

section {
    font-family: sans-serif;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
    animation: animate 1s ease-in-out;
    margin-bottom: 3em;
}

section * {
    color: #fff;
    width: 8vw;
    height: 8vw;
    min-width: 80px;
    min-height: 80px;
    display: grid;
    place-content: center;
    background-color: #006eff;
    transform-origin: center center;
    transition: 0.1s ease-in;
    font-size: 4vw;
    cursor: pointer;
    padding: none;
    border-radius: 8px;
    /* max-width: 120px;
    max-height: 120px; */
}

button {
    padding: 10px 0;
    cursor: pointer;
    border: none;
    background-color: #5ef141;
    color: #423d3d;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 80px;
}

.box:hover {
    background-color: #0052bd;
}
.click-disable {
    pointer-events: none !important;
}
@keyframes animate {
    0%,
    20% {
        transform: rotateZ(180deg) scale(0);
        opacity: 0.2;
        grid-gap: 250px;
    }
}

/* Overlay for result display */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#overlay-display {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#result {
    font-family: monospace;
}

#restart-btn {
    background-color: rgb(25, 32, 32);
    border: 1px solid white;
    border-radius: 80px;
    width: 100px;
    color: white;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: rgb(39, 39, 39);
}

/*----- Last block for media queries ------*/
@media (max-width: 768px) {
    section div {
        font-size: 10vw;
        width: 20vw;
        height: 20vw;
    }
}
